<form method="post" action="{{ path('app_association_delete', {'id_association': association.id_association}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ association.id_association) }}">
    <button class="btn">Delete</button>
</form>
