{% extends 'base.html.twig' %}

{% block title %}Edit ProjetDon{% endblock %}

{% block body %}
    <h1>Edit ProjetDon</h1>

    {{ include('projet_don/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_projet_don_index') }}">back to list</a>

    {{ include('projet_don/_delete_form.html.twig') }}
{% endblock %}
