{% extends 'base.html.twig' %}

{% block title %}New ProjetDon{% endblock %}

{% block body %}
    <h1>Create new ProjetDon</h1>

    {{ include('projet_don/_form.html.twig') }}

    <a href="{{ path('app_projet_don_index') }}">back to list</a>
{% endblock %}
