{% extends 'back/Dashboard.html.twig' %}

{% block title %}Ajouter Réclamation{% endblock %}

{% block body %}

<div class="container my-5" style="margin-left: 300px; padding-bottom: 50px;">
    <div class="card shadow">

        <div class="card-header bg-success text-white">
            <h4 class="mb-0">📝 Ajouter une Réclamation</h4>
        </div>

        <div class="card-body">
            
            {{ include('back/Reclamation/Reclamation/_form.html.twig') }} 

            
            
        </div>
    </div>
</div>
{% endblock %}
