{% extends 'back/Dashboard.html.twig' %}

{% block title %}Edit Reponse{% endblock %}

{% block body %}

  <div class="container my-5" style="margin-left: 300px; padding-bottom: 50px;">
    <div class="card shadow">
    
        <div class="card-header bg-warning text-dark">
            <h4 class="mb-0">✏️ Modifier la Réponse</h4>
        </div>
        
    {{ include('reponse/_form.html.twig') }}

    <div class="d-flex justify-content-between">
            <a href="{{ path('app_reponse_index') }}" class="btn btn-secondary">⬅ Retour</a>
        </div>
    </div>

    {{ include('reponse/_delete_form.html.twig') }}
{% endblock %}